v2/v2.xcworkspace/xcuserdata/davidweissler.xcuserdatad/UserInterfaceState.xcuserstate
v2/v2.xcworkspace/xcuserdata/davidweissler.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
v2/Pods/Pods.xcodeproj/xcuserdata/davidweissler.xcuserdatad/xcschemes/AFNetworking.xcscheme
v2/Pods/Pods.xcodeproj/xcuserdata/davidweissler.xcuserdatad/xcschemes/Pods-v2.xcscheme
v2/Pods/Pods.xcodeproj/xcuserdata/davidweissler.xcuserdatad/xcschemes/Shimmer.xcscheme
v2/Pods/Pods.xcodeproj/xcuserdata/davidweissler.xcuserdatad/xcschemes/xcschememanagement.plist
v2/v2.xcodeproj/xcuserdata/davidweissler.xcuserdatad/xcschemes/v2.xcscheme
v2/v2.xcodeproj/xcuserdata/davidweissler.xcuserdatad/xcschemes/xcschememanagement.plist
v3/v3.xcworkspace/xcuserdata/davidweissler.xcuserdatad/UserInterfaceState.xcuserstate
v3/v3.xcworkspace/xcuserdata/davidweissler.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
